infrastructure/cfn/retops-step-functions.yaml
AWSTemplateFormatVersion: "2010-09-09"
Description: RetailOps - Step 2: SNS + basic Step Functions (Pass)

Parameters:
  ProjectNameInput:
    Type: String
    Default: retailops

Resources:
  PipelineSuccessTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${ProjectNameInput}-pipeline-success"

  PipelineFailureTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub "${ProjectNameInput}-pipeline-failure"

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectNameInput}-sfn-role"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: { Service: states.amazonaws.com }
            Action: sts:AssumeRole
      Policies:
        - PolicyName: OrchestrateLambdaAndSns
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: [ "sns:Publish" ]
                Resource:
                  - !Ref PipelineSuccessTopic
                  - !Ref PipelineFailureTopic
              - Effect: Allow
                Action: [ "lambda:InvokeFunction" ]
                Resource: !ImportValue retailops-DataGeneratorLambdaArn


  RetailOpsStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${ProjectNameInput}-daily-pipeline"
      RoleArn: !GetAtt StepFunctionsRole.Arn
       DefinitionString: !Sub
        - |
          {
            "Comment": "RetailOps pipeline (v3): Lambda generate",
            "StartAt": "GenerateData",
            "States": {
              "GenerateData": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "Parameters": {
                  "FunctionName": "${DataGenArn}",
                  "Payload": { "date.$": "$.date" }
                },
                "Next": "NotifySuccess",
                "Catch": [
                  { "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "NotifyFailure" }
                ]
              },
              "NotifySuccess": {
                "Type": "Task",
                "Resource": "arn:aws:states:::sns:publish",
                "Parameters": {
                  "TopicArn": "${SuccessTopic}",
                  "Subject": "RetailOps Pipeline Success",
                  "Message.$": "States.Format('OK (Lambda). date={}', $.date)"
                },
                "End": true
              },
              "NotifyFailure": {
                "Type": "Task",
                "Resource": "arn:aws:states:::sns:publish",
                "Parameters": {
                  "TopicArn": "${FailureTopic}",
                  "Subject": "RetailOps Pipeline FAILED",
                  "Message.$": "States.Format('FAILED (Lambda). error={}', $.error)"
                },
                "Next": "FailState"
              },
              "FailState": { "Type": "Fail" }
            }
          }
        - {
            DataGenArn: !ImportValue retailops-DataGeneratorLambdaArn,
            SuccessTopic: !Ref PipelineSuccessTopic,
            FailureTopic: !Ref PipelineFailureTopic
          }


Outputs:
  PipelineSuccessTopicArn:
    Value: !Ref PipelineSuccessTopic
    Export:
      Name: retailops-PipelineSuccessTopicArn

  PipelineFailureTopicArn:
    Value: !Ref PipelineFailureTopic
    Export:
      Name: retailops-PipelineFailureTopicArn

  StateMachineArn:
    Value: !GetAtt RetailOpsStateMachine.Arn
    Export:
      Name: retailops-StateMachineArn
